body {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 241, 244);
}

.ust-bolum {
    background-color: rgb(34, 118, 196); 
    color: white;               
    text-align: center;    
    margin: 60px auto;
    padding: 30px;
    
}


.alt-bolum {
    background-color: rgb(255, 255, 255); 
    color: black; 
    text-align:;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
}
.cizgi {
    /* Kalınlığı 3 piksel, düz çizgi (solid) ve mavi renk */
    border-bottom: 3px solid rgb(34, 118, 196); 
    
    /* Yazı ile çizgi arasında biraz boşluk kalması için (isteğe bağlı) */
    padding-bottom: 5px; 
}